@import "bootstrap/bootstrap.scss";

$offwhite: #ecf0f1;
@mixin vertical-padding() {
  padding: 2em 0;
}
body {
  margin: 0;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  font-family: "Noto Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  height: 42.5vh;
  width: 100%;
  background: url(/img/cinema-hero.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  > * {
    position: relative;
    z-index: 1;
  }
  &:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #434343,
      #000000
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #434343,
      #000000
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.3;
  }

  h1 {
    color: #fff;
  }
}

.filter-checkboxes {
 @include vertical-padding();
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.75rem;

    @include media-breakpoint-up(sm) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include media-breakpoint-up(md) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @include media-breakpoint-up(xl) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
}
.movie-list {
  @include vertical-padding();
  width: 100%;
  display: grid;

  grid-column-gap: 5vw;
  grid-row-gap: 1.5rem;
  // we're going to kick into 2 columns when we get to phablets
  @media (min-width: 413px) {
    grid-template-columns: 1fr 1fr;
  }
  @include media-breakpoint-up(md) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include media-breakpoint-up(lg) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2.5rem;
  }
  @include media-breakpoint-up(xl) {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  @media (min-width: 1600px) {
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
